* {
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: 'ROKAFSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  width: 100vw;
  height: 900px;
}
.first_page {
  width: 100%;
  height: 900px;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  margin: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.web_name {
  width: 180px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 60px;
  left: 90px;
  font-family: 'ROKAFSansBold';
  font-weight: bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
  padding: 0;
  border: 0;
  background: none;
}
.current_date {
  position: absolute;
  width: 300px;
  height: 42px;
  left: 280px;
  top: 80px;
  font-family: 'OTWelcomeRA';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
.top_letter {
  width: 550px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 120px;
  left: 85px;
  font-family: 'OTWelcomeRA';
  font-weight: normal;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.title_line {
  width: 440px;
  position: absolute;
  top: 107px;
  left: 80px;
  border-bottom: 4px solid rgba(0, 0, 0, 1);
  margin: 10px;
}
.end_of_stage {
  width: 400px;
  color: rgba(0, 0, 0, 0.81);
  position: absolute;
  top: 405px;
  left: 750px;
  font-family: 'OTWelcomeRA';
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
  padding: 0;
  border: 0;
  background: none;
}
.right_button {
  width: 760px;
  height: 360px;
  background: rgba(255, 0, 0, 0);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 1020px;
  border: 0;
}
.left_button {
  width: 760px;
  height: 360px;
  background: rgba(255, 0, 0, 0);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 140px;
  border: 0;
}
.word_card {
  width: 720px;
  height: 360px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 599px;
  border: 10px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.english {
  position: absolute;
  width: 608px;
  height: 47px;
  left: 663px;
  top: 320px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 47px;
  color: #000000;
}
.meaning {
  position: absolute;
  width: 500px;
  height: 29px;
  left: 715px;
  top: 410px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}
.sentence {
  position: absolute;
  width: 531px;
  height: 29px;
  left: 705px;
  top: 450px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: rgba(37, 37, 37, 0.71);
}
.O_button {
  width: 100px;
  height: 95px;
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 663px;
}
.X_button {
  width: 100px;
  height: 95px;
  background: url('../images/X_button.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 909px;
}
.return_button {
  width: 95px;
  height: 95px;
  background: url('../images/return_button.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 1155px;
}
.display {
  width: 241px;
  color: rgba(37, 37, 37, 0.8100000023841858);
  position: absolute;
  top: 409px;
  left: 839px;
  font-family: 'OTWelcomeRA';
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0;
  border: 0;
  background: none;
}
.bottom_letter {
  width: 270px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 825px;
  left: 65px;
  font-family: 'ROKAFSansBold';
  font-weight: regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.today_button {
  width: 45px;
  height: 157px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1875px;
  overflow: hidden;
  border: 0;
}
.total_button {
  width: 45px;
  height: 157px;
  background: rgba(37, 37, 37, 0.8100000023841858);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 1875px;
  overflow: hidden;
  border: 0;
}
.today_letter {
  width: 40px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 75px;
  left: 1877px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border: 0;
  background: none;
}
.total_letter {
  width: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 250px;
  left: 1877px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border: 0;
  background: none;
}
