* {
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: 'ROKAFSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  width: 100vw;
  height: 900px;
}
.today {
  width: 100%;
  height: 900px;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  margin: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.web_name {
  width: 180px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 60px;
  left: 90px;
  font-family: 'ROKAFSansBold';
  font-weight: bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
  padding: 0;
  border: 0;
  background: none;
}
.current_date {
  position: absolute;
  width: 300px;
  height: 42px;
  left: 280px;
  top: 80px;
  font-family: 'OTWelcomeRA';
  font-style: normal;
  font-weight: medium;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
.title_line {
  width: 440px;
  position: absolute;
  top: 107px;
  left: 80px;
  border-bottom: 4px solid rgba(0, 0, 0, 1);
  margin: 10px;
}
.home {
  width: 55px;
  height: 55px;
  background: url('../images/home.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 830px;
  left: 55px;
}
.page_title {
  width: 300px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 139px;
  left: 90px;
  font-family: 'OTWelcomeRA';
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.underText {
  width: 250px;
  color: rgb(255, 153, 0);
  position: absolute;
  top: 190px;
  left: 80px;
  font-family: 'OTWelcomeRA';
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.sendTotal_button {
  width: 236px;
  height: 42px;
  background: rgb(231, 231, 231);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 370px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.sendTotal_text {
  width: 217px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 154px;
  left: 382px;
  font-family: 'OTWelcomeRA';
  font-weight: bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.resetToday_button {
  width: 160px;
  height: 42px;
  background: rgb(231, 231, 231);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 618px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.resetToday_text {
  width: 130px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 154px;
  left: 634px;
  font-family: 'OTWelcomeRA';
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.toTodayReview {
  width: 260px;
  height: 42px;
  background: rgb(231, 231, 231);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 850px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 0;
  border: 0;
}
.toTodayReview_text {
  width: 240px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 155px;
  left: 860px;
  font-family: 'OTWelcomeRA';
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  padding: 0;
  border: 0;
  background: none;
}
.word_today {
  position: absolute;
  color: rgba(255, 255, 255, 0);
  width: 1773px;
  height: 580px;
  left: 80px;
  top: 240px;
  overflow: auto;
}
.word_today::-webkit-scrollbar {
  width: 20px;
}
.word_today::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.word_today::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
