* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_102 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_103 {
  width: 760px;
  height: 360px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 1020px;
}
.v9_104 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 286px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v9_105 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 60px;
  left: 90px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v9_106 {
  width: 760px;
  height: 360px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 140px;
}
.v9_107 {
  width: 720px;
  height: 504px;
  background: url("../images/v9_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 599px;
  overflow: hidden;
}
.v9_108 {
  width: 720px;
  height: 360px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 10px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v9_109 {
  width: 100px;
  height: 100px;
  background: url("../images/v9_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 310px;
  overflow: hidden;
}
.v9_110 {
  width: 100px;
  height: 100px;
  background: url("../images/v9_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 64px;
  overflow: hidden;
}
.v9_111 {
  width: 100px;
  height: 100px;
  background: url("../images/v9_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 556px;
  overflow: hidden;
}
.v9_114 {
  width: 45px;
  height: 157px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1875px;
  overflow: hidden;
}
.v9_115 {
  width: 45px;
  height: 157px;
  background: rgba(37,37,37,0.8100000023841858);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 1875px;
  overflow: hidden;
}
.v9_116 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 75px;
  left: 1877px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v9_117 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 250px;
  left: 1877px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v9_102 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_103 {
  width: 760px;
  height: 360px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 1020px;
}
.v9_104 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 286px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v9_105 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 60px;
  left: 90px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v9_106 {
  width: 760px;
  height: 360px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 140px;
}
.v9_107 {
  width: 720px;
  height: 504px;
  background: url("../images/v9_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 599px;
  overflow: hidden;
}
.v9_108 {
  width: 720px;
  height: 360px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 10px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v9_109 {
  width: 100px;
  height: 100px;
  background: url("../images/v9_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 310px;
  overflow: hidden;
}
.v9_110 {
  width: 100px;
  height: 100px;
  background: url("../images/v9_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 64px;
  overflow: hidden;
}
.v9_111 {
  width: 100px;
  height: 100px;
  background: url("../images/v9_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 556px;
  overflow: hidden;
}
.v9_114 {
  width: 45px;
  height: 157px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1875px;
  overflow: hidden;
}
.v9_115 {
  width: 45px;
  height: 157px;
  background: rgba(37,37,37,0.8100000023841858);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 1875px;
  overflow: hidden;
}
.v9_116 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 75px;
  left: 1877px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v9_117 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 250px;
  left: 1877px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
