* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'ROKAFSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  width: 100vw;
  height: 900px;
}
.today {
  width: 100%;
  height: 900px;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  margin: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.web_name {
  width: 180px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 60px;
  left: 90px;
  font-family: 'ROKAFSansBold';
  font-weight: bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
  padding: 0;
  border: 0;
  background: none;
}
.current_date {
  position: absolute;
  width: 300px;
  height: 42px;
  left: 280px;
  top: 80px;
  font-family: 'OTWelcomeRA';
  font-style: normal;
  font-weight: medium;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
.home {
  width: 55px;
  height: 55px;
  background: url('../images/home.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 55px;
}
.todaylist_name {
  width: 300px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 150px;
  left: 90px;
  font-family: 'OTWelcomeRA';
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.underText {
  width: 250px;
  color: rgba(29, 28, 28, 0.81);
  position: absolute;
  top: 195px;
  left: 78px;
  font-family: 'OTWelcomeRA';
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.sendTotal_button {
  width: 236px;
  height: 42px;
  background: rgb(255, 141, 141);
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 390px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.sendTotal_text {
  width: 217px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 159px;
  left: 402px;
  font-family: 'OTWelcomeRA';
  font-weight: Thin;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.resetToday_button {
  width: 160px;
  height: 42px;
  background: rgb(255, 141, 141);
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 638px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.resetToday_text {
  width: 95px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 159px;
  left: 673px;
  font-family: 'OTWelcomeRA';
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.toTodayReview {
  width: 169px;
  height: 60px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 1750px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.toTodayReview_text {
  width: 116px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 862px;
  left: 1775px;
  font-family: 'OTWelcomeRA';
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.e1 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 250px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e2 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 284px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e3 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 318px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e4 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 352px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e5 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 386px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e6 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 420px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e7 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 454px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e8 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 488px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e9 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 522px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e10 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 556px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e11 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 590px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e12 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 624px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e13 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 658px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e14 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 692px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e15 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 726px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e16 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 760px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e17 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 794px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e18 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 828px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e19 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 862px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e20 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 896px;
  left: 90px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m1 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 250px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m2 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 284px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m3 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 318px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m4 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 352px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m5 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 386px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m6 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 420px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m7 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 454px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m8 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 488px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m9 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 522px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m10 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 556px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m11 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 590px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m12 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 624px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m13 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 658px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m14 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 692px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m15 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 726px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m16 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 760px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m17 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 794px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m18 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 828px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m19 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 862px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m20 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 896px;
  left: 560px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen1 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 250px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen2 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 284px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen3 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 318px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen4 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 352px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen5 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 386px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen6 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 420px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen7 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 454px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen8 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 488px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen9 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 522px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen10 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 556px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen11 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 590px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen12 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 624px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen13 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 658px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen14 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 692px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen15 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 726px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen16 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 760px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen17 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 794px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen18 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 828px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen19 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 862px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen20 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 896px;
  left: 1030px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
