* {
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: 'ROKAFSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  width: 100vw;
  height: 900px;
}
.total {
  width: 100%;
  height: 900px;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  margin: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.web_name {
  width: 180px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 60px;
  left: 90px;
  font-family: 'ROKAFSansBold';
  font-weight: bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
  padding: 0;
  border: 0;
  background: none;
}
.current_date {
  position: absolute;
  width: 300px;
  height: 42px;
  left: 280px;
  top: 80px;
  font-family: 'OTWelcomeRA';
  font-style: normal;
  font-weight: medium;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
.title_line {
  width: 440px;
  position: absolute;
  top: 107px;
  left: 80px;
  border-bottom: 4px solid rgba(0, 0, 0, 1);
  margin: 10px;
}
.home {
  width: 55px;
  height: 55px;
  background: url('../images/home.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 830px;
  left: 55px;
}
.page_title {
  width: 300px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 139px;
  left: 90px;
  font-family: 'OTWelcomeRA';
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.resetTotal_button {
  width: 148px;
  height: 40px;
  background: rgb(231, 231, 231);
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 360px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 0;
  border: 0;
}
.resetTotal_text {
  width: 110px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 154px;
  left: 383px;
  font-family: 'OTWelcomeRA';
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  border: 0;
  background: none;
}
.toTotalReview {
  width: 205px;
  height: 42px;
  background: rgb(231, 231, 231);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 560px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 0;
  border: 0;
}
.toTotalReview_text {
  width: 230px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 155px;
  left: 550px;
  font-family: 'OTWelcomeRA';
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  padding: 0;
  border: 0;
  background: none;
}
.word_today {
  position: absolute;
  color: rgba(255, 255, 255, 0);
  width: 1773px;
  height: 580px;
  left: 80px;
  top: 220px;
  overflow: auto;
}
.word_today::-webkit-scrollbar {
  width: 20px;
}
.word_today::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.word_today::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.e1 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e2 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 39px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e3 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 73px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e4 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 107px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e5 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 141px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e6 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 175px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e7 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 209px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e8 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 243px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e9 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 277px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e10 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 311px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e11 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 345px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e12 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 379px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e13 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 413px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e14 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 447px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e15 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 481px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e16 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 515px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e17 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 549px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e18 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 583px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e19 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 617px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.e20 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 651px;
  left: 10px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m1 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m2 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 39px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m3 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 73px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m4 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 107px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m5 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 141px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m6 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 175px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m7 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 209px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m8 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 243px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m9 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 277px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m10 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 311px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m11 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 345px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m12 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 379px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m13 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 413px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m14 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 447px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m15 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 481px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m16 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 515px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m17 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 549px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m18 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 583px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m19 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 617px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.m20 {
  width: 420px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 651px;
  left: 480px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen1 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen2 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 39px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen3 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 73px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen4 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 107px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen5 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 141px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen6 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 175px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen7 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 209px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen8 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 243px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen9 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 277px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen10 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 311px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen11 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 345px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen12 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 379px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen13 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 413px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen14 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 447px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen15 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 481px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen16 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 515px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen17 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 549px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen18 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 583px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen19 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 617px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.sen20 {
  width: 622px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 651px;
  left: 950px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
